
@model _Core.ViewModels.PaymentLogsVM
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name=" = viewport" content="width=device-width"/>
    <title>Payment Logs</title>
</head>
<body>
    <h4>History</h4>
    <hr/>
    <table class="table table-bordered" cellpadding="5" cellspacing="5">
        <tr>
            <th>Bill Name</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Reference Number</th>
        </tr>
        <tr>
            <td>@Model.BillName</td>
            <td>@Model.Amount</td>
            <td>@Model.Date</td>
            <td>@Model.ReferenceNumber</td>
        </tr>
        @*@foreach(PaymentLogsVM paymenlogs in Model)
        {
            <tr>
                <td>@paymenlogs.BillName</td>
                <td>@paymenlogs.Amount</td>
                <td>@paymenlogs.Date</td>
                <td>@paymenlogs.ReferenceNumber</td>
            </tr>
        }*@
    </table>
    <br/>
    <br/>

    <form method="post" asp-controller="Transactionweb" asp-action="Export">
        <input type="submit" value="Download" />
    </form>
</body>
</html>